.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    margin: 10px;
}

.team-member img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
